// @import "../src/Sass/Color-Pallete.scss"
@import "../../Sass/Color-Pallete.scss";

.design-discipline-container {
  position: absolute;
  z-index: 20;
  // height: 100%;
  width: 100%;
  background-color: $Primary-Dark;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (max-width: 1200px) {
    align-items: center;
  }

  .discipline-card {
    position: relative;
    max-width: unset;
    min-width: 20rem;
    width: 95%;
    border: 3px solid white;
    border-radius: 1rem;
    height: 85vh;
    margin: 1rem 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

    &:hover {
      text-decoration: underline;
      border-color: yellow;
    }

    .bg-opacity {
      height: 100%;
      width: 100%;
      background-color: black;
      opacity: 0.6;
    }

    .discipline-text {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 5;
      text-align: center;
      font-size: 300%;
      line-height: 50px;
      height: 100%;
      width: 100%;

      &:hover {
        text-decoration: underline;
        color: yellow;
        cursor: pointer;
        //   font-size: 350%;
      }
    }

    @media (max-width: 1350px) {
      margin: 1rem 1rem;
    }

    @media (max-width: 1200px) {
      max-width: 1200px;
      width: 90%;
      min-width: unset;
      height: 40vh;
      margin: 1rem 1rem;
    }
  }
}
